<section class="container">
  <h1>Ingresa tus Datos</h1>
  <form action="" class="form-isMine">
    <div class="inputWithIcon inputIconBg">
      <input type="text" placeholder="Nombre" class="formLost-text">
      <img src="https://img.icons8.com/material/24/000000/gender-neutral-user.png" class="formLost-icon">
    </div>
    <div class="inputWithIcon inputIconBg">
      <input type="email" placeholder="Correo Electrónico">
      <img src="https://img.icons8.com/material/24/000000/filled-message.png" class="formLost-icon">
    </div>
    <div class="inputWithIcon inputIconBg">
      <input type="tel" placeholder="Teléfono">
      <img src="https://img.icons8.com/material/24/000000/phone.png" class="formLost-icon">
    </div>
    <div class="inputWithIcon inputIconBg">
      <input type="text" placeholder="Comentario">
      <img src="https://img.icons8.com/material/24/000000/comments.png" class="formLost-icon">
    </div>
  </form>
</section>

