<section class="centered-layout container-data">
  <form class="form-data" (ngSubmit)="confirmarSolicitud()">
    <h3>Confirmar adopción</h3>
    <h4>Al confirmar esta solicitud el adoptante acepta que:</h4>
    <ol class="list-points">
      <li>El adoptado será un miembro más de su familia.</li>
      <li>El adoptado tendrá en todo momento agua limpia y fresca con libre acceso.</li>
      <li>El adoptado tendrá una alimentación balanceada a base de croqueta seca.</li>
      <li>El adoptado usará SIEMPRE UN COLLAR CON SU PLACA DE IDENTIFICACIÓN (con nombre y teléfono del responsable).</li>
      <li>El adoptado no será en ningún caso golpeado, maltratado, humillado, abandonado ni regalado.</li>
      <li>El adoptado debe contar con sombra, un área para comer y dormir.</li>
      <li>El adoptado recibirá los cuidados médicos necesarios preventivos para su bienestar (desparacitación y cada 6 meses vacunación antirrábica).</li>
      <li>El adoptado será esterilizado.</li>
      <li>SI NO SE CUMPLIERA CON LO INDICADO, EL ADOPTADO SERÁ RETIRADO INMEDIATAMENTE (SE LE OFRECE UN HOGAR DE AMOR Y PROTECCIÓN) Y EL ADOPTANTE SERÁ ACREDOR A UNA SANCIÓN CONFORME LO MARCA EL REGLAMENTO DE TENENCIA RESPONSABLE DE PERROS Y GATOS DEL MUNICIPIO DE TEHUACÁN.</li>
    </ol>
    <button class="form-data__submit" type="submit">Confirmar mi solicitud</button>
  </form>
</section>
