<article class="card-adopt card-adopt-grid"> 
  <header class="card-adopt__header">
    <h3>{{mascota.tipo}}</h3>
  </header>
  <figure class="card-adopt__img">
    <img [src]="mascota.foto" alt="imagen">
  </figure>
  <section class="card-adopt__content">
    <h3>{{mascota.nombre}}</h3>
    <h5>Edad: {{mascota.edad}}</h5>
    <h5>Raza: {{mascota.raza}}</h5>
    <h5>Sexo: {{mascota.sexo}}</h5>
  </section>
  <footer class="card-adopt__footer centered-layout">
    <p class="pointer" (click)="sendModalRequest()">Adoptar</p>
  </footer>
</article>
