<div class="container">
    <!-- <form action="envio_formulario.php" class="form" method="post" enctype="multipart/form-data">
      <input placeholder="Email" class="in" type="email" name="email" value="">
      <input placeholder="Password" class="in" type="password" name="email" value="">
      <input class="submit" type="submit" id="bEnviar" value="ENVIAR">
      <p>¿Aún no tienes cuenta?</p>
      <input class="registrarse" type="" value="">
    </form> -->
    <div id="Contenedor">
        <div class="Icon"><span class="glyphicon glyphicon-user"></span></div>
        <div class="ContentForm">
            <form action="" method="post" name="FormEntrar">
                <div class="input-group input-group-lg">
                 <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                 <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo" aria-describedby="sizing-addon1" required>
               </div>
               <br>
               <div class="input-group input-group-lg">
                 <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                 <input type="password" name="contra" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" required>
               </div>
               <br>
               <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
               <div class="opcioncontra"><a href="">¿Olvidaste tu contraseña?</a></div>
               <button class="btn btn-lg btn-outline-light btn-block btn-signin" id="IngresoLog" type="submit">Registrarse</button>
            </form>
        </div>
           
        </div>
        
  </div>
